:root {
  --color-primary-neon: hsl(150, 100%, 66%); //Neon Green
  --color-primary-light: hsl(193, 38%, 86%); //Light Cyan

  --color-grayish-blue: hsl(217, 19%, 38%); //Grayish Blue
  --color-grayish-dark: hsl(217, 19%, 24%); //Dark Grayish Blue
  --color-dark-blue: hsl(218, 23%, 16%); //Dark Blue

  --font-primary: "Manrope", sans-serif; //Manrope
}
